# Heart Disease Data Set

Data Pre-Processing

In [2]:
# Loading packages.

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

#

import matplotlib.gridspec as gridspec
from matplotlib.ticker import MaxNLocator

#

import math
import random
import os
import time

from numpy import interp

from sklearn.model_selection import train_test_split
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score
# Disabling warnings:

import warnings
warnings.filterwarnings('ignore') 

data = pd.read_csv('/Users/JumpMan/Downloads/UH Spring 2023/heart_cleveland_upload.csv')
data.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,condition
0,69,1,0,160,234,1,2,131,0,0.1,1,1,0,0
1,69,0,0,140,239,0,0,151,0,1.8,0,2,0,0
2,66,0,0,150,226,0,0,114,0,2.6,2,0,0,0
3,65,1,0,138,282,1,2,174,0,1.4,1,1,0,1
4,64,1,0,110,211,0,2,144,1,1.8,1,0,0,0

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 297 entries, 0 to 296
Data columns (total 14 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        297 non-null    int64
 1   sex        297 non-null    int64
 2   cp         297 non-null    int64
 3   trestbps   297 non-null    int64
 4   chol       297 non-null    int64
 5   fbs        297 non-null    int64
 6   restecg    297 non-null    int64
 7   thalach    297 non-null    int64
 8   exang      297 non-null    int64
 9   oldpeak    297 non-null    float64
 10  slope      297 non-null    int64
 11  ca         297 non-null    int64
 12  thal       297 non-null    int64
 13  condition  297 non-null    int64
dtypes: float64(1), int64(13)
memory usage: 32.6 KB

In [7]:
df = data

# SVM

In [8]:
# Split the data into training and testing sets
X = df.iloc[:, :-1]
y = df.iloc[:, -1]
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Train SVM models with different kernel functions
models = {'linear': SVC(kernel='linear', random_state=42),
          'rbf': SVC(kernel='rbf', random_state=42, gamma=0.1),
          'sigmoid': SVC(kernel='sigmoid', random_state=42, gamma=0.1)}

# Train and evaluate the models
results = []
for name, model in models.items():
    model.fit(X_train, y_train)
    y_pred = model.predict(X_test)
    accuracy = accuracy_score(y_test, y_pred)
    results.append([name, accuracy])

# Print the results in a table
print(pd.DataFrame(results, columns=['Kernel', 'Accuracy']))

    Kernel  Accuracy
0   linear  0.750000
1      rbf  0.533333
2  sigmoid  0.533333

# MLP

In [9]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.neural_network import MLPClassifier
from sklearn.metrics import accuracy_score

# Split the data into training and testing sets
X = df.iloc[:, :-1]
y = df.iloc[:, -1]
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Train MLP models with different hyperparameters
models = {'relu_SGD_0.01': MLPClassifier(hidden_layer_sizes=(100,), activation='relu', solver='sgd', learning_rate_init=0.01, random_state=42),
          'relu_SGD_0.001': MLPClassifier(hidden_layer_sizes=(100,), activation='relu', solver='sgd', learning_rate_init=0.001, random_state=42),
          'tanh_SGD_0.01': MLPClassifier(hidden_layer_sizes=(100,), activation='tanh', solver='sgd', learning_rate_init=0.01, random_state=42),
          'tanh_SGD_0.001': MLPClassifier(hidden_layer_sizes=(100,), activation='tanh', solver='sgd', learning_rate_init=0.001, random_state=42),
          'relu_Adam_0.01': MLPClassifier(hidden_layer_sizes=(100,), activation='relu', solver='adam', learning_rate_init=0.01, random_state=42),
          'relu_Adam_0.001': MLPClassifier(hidden_layer_sizes=(100,), activation='relu', solver='adam', learning_rate_init=0.001, random_state=42),
          'tanh_Adam_0.01': MLPClassifier(hidden_layer_sizes=(100,), activation='tanh', solver='adam', learning_rate_init=0.01, random_state=42),
          'tanh_Adam_0.001': MLPClassifier(hidden_layer_sizes=(100,), activation='tanh', solver='adam', learning_rate_init=0.001, random_state=42)}

# Train and evaluate the models
results = []
for name, model in models.items():
    model.fit(X_train, y_train)
    y_pred = model.predict(X_test)
    accuracy = accuracy_score(y_test, y_pred)
    results.append([name, accuracy])

# Print the results in a table
print(pd.DataFrame(results, columns=['Hyperparameters', 'Accuracy']))

   Hyperparameters  Accuracy
0    relu_SGD_0.01  0.533333
1   relu_SGD_0.001  0.550000
2    tanh_SGD_0.01  0.500000
3   tanh_SGD_0.001  0.550000
4   relu_Adam_0.01  0.683333
5  relu_Adam_0.001  0.666667
6   tanh_Adam_0.01  0.600000
7  tanh_Adam_0.001  0.716667